<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Random Passcode Generator</title>
    </head>
    <body>
        <center><h2>Random passcode (passcode # @ViewBag.count)</h2></center>
        <center>
            <h4>@ViewBag.passcode</h4>
            <br>
            <a href="/"><button>Generate</button></a>
        </center>
    </body>
</html>